[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
project0 = {file = ".", editable = true}
PyPDF2 = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.12.5"
