[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
urllib = "*"
io = "*"
re= "*"
pypdf = "*"
os = "*"
sqlite3= "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12.5"